Repository sosy-lab/benchexec, pull requests merged in 2019-11, with the labels that each got.

#477 Rewrite of HTML tables with React
  .gitignore
  .gitlab-ci.yml
  MANIFEST.in
  README.md
  benchexec/tablegenerator/__init__.py
  benchexec/tablegenerator/react-table/.gitignore
  benchexec/tablegenerator/react-table/README.md
  benchexec/tablegenerator/react-table/build/bundle.min.css
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/build/vendors.min.css
  benchexec/tablegenerator/react-table/build/vendors.min.js
  benchexec/tablegenerator/react-table/config/env.js
  benchexec/tablegenerator/react-table/config/jest/cssTransform.js
  benchexec/tablegenerator/react-table/config/jest/fileTransform.js
  benchexec/tablegenerator/react-table/config/modules.js
  benchexec/tablegenerator/react-table/config/paths.js
  benchexec/tablegenerator/react-table/config/pnpTs.js
  benchexec/tablegenerator/react-table/config/webpack.config.js
  benchexec/tablegenerator/react-table/config/webpackDevServer.config.js
  benchexec/tablegenerator/react-table/package-lock.json
  benchexec/tablegenerator/react-table/package.json
  benchexec/tablegenerator/react-table/public/index.html
  benchexec/tablegenerator/react-table/scripts/build.js
  benchexec/tablegenerator/react-table/scripts/dependencies.js
  benchexec/tablegenerator/react-table/scripts/start.js
  benchexec/tablegenerator/react-table/scripts/test.js
  benchexec/tablegenerator/react-table/src/App.js
  benchexec/tablegenerator/react-table/src/App.scss
  benchexec/tablegenerator/react-table/src/App.test.js
  benchexec/tablegenerator/react-table/src/components/Info.js
  benchexec/tablegenerator/react-table/src/components/LinkOverlay.js
  benchexec/tablegenerator/react-table/src/components/Overview.js
  benchexec/tablegenerator/react-table/src/components/QuantilePlot.js
  benchexec/tablegenerator/react-table/src/components/ReactTable.js
  benchexec/tablegenerator/react-table/src/components/Reset.js
  benchexec/tablegenerator/react-table/src/components/ScatterPlot.js
  benchexec/tablegenerator/react-table/src/components/SelectColumn.js
  benchexec/tablegenerator/react-table/src/components/Summary.js
  benchexec/tablegenerator/react-table/src/data/data.json
  benchexec/tablegenerator/react-table/src/index.css
  benchexec/tablegenerator/react-table/src/index.js
  benchexec/tablegenerator/react-table/src/tests/__snapshots__/components.test.js.snap
  benchexec/tablegenerator/react-table/src/tests/components.test.js
  benchexec/tablegenerator/react-table/src/tests/utils.test.js
  benchexec/tablegenerator/react-table/src/utils/utils.js
  benchexec/tablegenerator/template_react.html
  benchexec/tablegenerator/test_integration/__init__.py
  benchexec/tablegenerator/util.py
  pyproject.toml
  setup.py
Labels: HTML table

#490 Fix UnboundLocalError in table generator when using "href" in column definitions
  benchexec/tablegenerator/util.py
Labels: bug

#498 Add tool-info module for new validator: metaval
  benchexec/tools/metaval.py
Labels: high priority

#510 Update access to local directories
  benchexec/tools/lazycseq.py
Labels: tool support

#512 Concrete false result for dartagnan
  benchexec/tools/dartagnan.py
Labels: tool support

#518 Ultimate: map false-memcleanup to the correct result
  benchexec/tools/ultimate.py
Labels: tool support

#528 Legion needs some additional files
  benchexec/tools/legion.py
Labels: tool support

#531 Add another file for the tool legion
  benchexec/tools/legion.py
Labels: tool support
