Repository sosy-lab/benchexec, pull requests merged in 2020-08, with the labels that each got.

#588 Redesign UI of buttons and legend for plots in HTML tables
  benchexec/tablegenerator/react-table/build/bundle.min.css
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/build/vendors.min.js
  benchexec/tablegenerator/react-table/src/App.scss
  benchexec/tablegenerator/react-table/src/components/QuantilePlot.js
  benchexec/tablegenerator/react-table/src/components/ScatterPlot.js
  benchexec/tablegenerator/react-table/src/utils/plot.js
Labels: HTML table

#590 Fix filtering of runsets when first runset has no filters
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/src/components/FilterBox/FilterBox.js
Labels: HTML table, bug

#587 Toolinfo coveriteam
  benchexec/tools/coveriteam-verifier-validator.py
  benchexec/tools/coveriteam.py
Labels: tool support
