Repository sosy-lab/benchexec, pull requests merged in 2020-04, with the labels that each got.

#568 Fixes for hashrouting and overlay
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/src/components/Overview.js
  benchexec/tablegenerator/react-table/src/components/QuantilePlot.js
  benchexec/tablegenerator/react-table/src/components/ScatterPlot.js
Labels: HTML table, bug

#567 Make links for file names when showing task-definition files
  benchexec/tablegenerator/react-table/build/bundle.min.css
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/build/vendors.min.js
  benchexec/tablegenerator/react-table/package-lock.json
  benchexec/tablegenerator/react-table/package.json
  benchexec/tablegenerator/react-table/src/App.scss
  benchexec/tablegenerator/react-table/src/components/LinkOverlay.js
  benchexec/tablegenerator/react-table/src/components/TaskDefinitionViewer.js
  benchexec/tablegenerator/react-table/src/tests/TaskDefinitionViewer.test.js
  benchexec/tablegenerator/react-table/src/tests/__snapshots__/TaskDefinitionViewer.test.js.snap
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/empty_file.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/input_files_as_mapping.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/input_files_brackets.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/input_files_multiline_string.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/multiple_input_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/multiple_property_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/no_input_and_property_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/no_input_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/no_property_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/one_input_file.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/one_property_file.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/other_list_of_lists.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/other_list_of_other_mappings.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/other_lists.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/property_files_brackets.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/property_files_multiline_string.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/property_files_no_mapping.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/task_definition_doc_template.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/undefined_input_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/undefined_property_files.yml
  benchexec/tablegenerator/react-table/src/tests/task_definition_files/with_html_tags.yml
Labels: HTML table, enhancement

#572 Refactor link overlay file loading
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/public/results/test.2015-03-03_1613.logfiles/predicateAnalysis.implicitunsignedconversion_false-unreach-label.i.log
  benchexec/tablegenerator/react-table/public/task_definition.yml
  benchexec/tablegenerator/react-table/src/components/LinkOverlay.js
  benchexec/tablegenerator/react-table/src/data/data.json
Labels: HTML table
