Repository sosy-lab/benchexec, pull requests merged in 2020-11, with the labels that each got.

#646 Update several tool-info modules to BaseTool2
  benchexec/tools/brick.py
  benchexec/tools/cbmc.py
  benchexec/tools/cseq.py
  benchexec/tools/dartagnan.py
  benchexec/tools/divine.py
  benchexec/tools/divine4.py
  benchexec/tools/esbmc.py
  benchexec/tools/fshell-witness2test.py
  benchexec/tools/gacal.py
  benchexec/tools/klee.py
  benchexec/tools/lazycseq.py
  benchexec/tools/lazycseqabs.py
  benchexec/tools/lazycseqswarm.py
  benchexec/tools/legion.py
  benchexec/tools/libkluzzer.py
  benchexec/tools/map2check.py
  benchexec/tools/pinaka.py
  benchexec/tools/predatorhp.py
  benchexec/tools/prtest.py
  benchexec/tools/sv_benchmarks_util.py
  benchexec/tools/symbiotic.py
  benchexec/tools/symbiotic4.py
  benchexec/tools/testcov.py
  benchexec/tools/tracerx.py
  benchexec/tools/two_ls.py
  benchexec/tools/verifuzz.py
Labels: tool support

#648 Add basic support for IE and add loading/warning messages
  benchexec/tablegenerator/htmltable.py
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/public/index.html
  benchexec/tablegenerator/react-table/src/index.js
Labels: HTML table

#649 support for BaseTool2 in Ultimate tool-info-modules
  benchexec/tools/ultimate.py
Labels: tool support

#652 Fix various bugs in ultimate.py
  benchexec/tools/ultimate.py
Labels: tool support

#655 Remove tool name from tool version for frama-c-sv
  benchexec/tools/frama-c-sv.py
Labels: tool support

#662 updated coveriteam tool info module to BaseTool2
  benchexec/tools/coveriteam-verifier-validator.py
  benchexec/tools/coveriteam.py
Labels: tool support

#663 fix sosy-lab/benchexec#661: do not return None but empty list
  benchexec/tools/ultimate.py
Labels: tool support

#664 Add a tool-info module for Kissat SAT solver
  benchexec/tools/kissat.py
Labels: tool support

#665 symbiotic: fix program_files() method
  benchexec/tools/symbiotic.py
Labels: tool support

#668 remove variables that are assigned twice.
  benchexec/tools/ceagle.py
  benchexec/tools/cseq.py
Labels: tool support

#669 Update tool-info for witnesslint.
  benchexec/tools/witnesslint.py
Labels: tool support

#670 use property file to select analysis
  benchexec/tools/dartagnan.py
Labels: tool support

#671 Add required paths for witnesslint
  benchexec/tools/witnesslint.py
Labels: tool support

#659 Fix handling of number inputs
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/src/components/FilterBox/FilterCard.js
Labels: HTML table, bug

#673 Update tool info libkluzzer remove 32 bit
  benchexec/tools/libkluzzer.py
  benchexec/tools/sv_benchmarks_util.py
Labels: tool support

#674 Add a tool-info module for ABC
  benchexec/tools/abc.py
Labels: tool support

#676 Updated required paths for SMACK
  benchexec/tools/smack.py
Labels: tool support

#645 Serialize filters to enable sharing via url
  benchexec/tablegenerator/react-table/build/bundle.min.js
  benchexec/tablegenerator/react-table/build/vendors.min.js
  benchexec/tablegenerator/react-table/src/components/FilterBox/FilterBox.js
  benchexec/tablegenerator/react-table/src/components/FilterBox/FilterContainer.js
  benchexec/tablegenerator/react-table/src/components/FilterBox/TaskFilterCard.js
  benchexec/tablegenerator/react-table/src/components/Overview.js
  benchexec/tablegenerator/react-table/src/components/SelectColumn.js
  benchexec/tablegenerator/react-table/src/tests/utils.test.js
  benchexec/tablegenerator/react-table/src/utils/utils.js
Labels: HTML table, enhancement

#678 removed access by index on determine_result (ESBMC)
  benchexec/tools/esbmc.py
Labels: tool support

#677 Update fusebmc tool
  benchexec/tools/fusebmc.py
Labels: tool support

#679 Make tool module(frama-c-sv) aware of task options
  benchexec/tools/frama-c-sv.py
Labels: tool support

#680 Update data model smack
  benchexec/tools/smack.py
Labels: tool support

#681 update REQUIRED_PATHS for jayhorn
  benchexec/tools/jayhorn.py
Labels: tool support

#675 Automatic timeout from rlimits
  benchexec/tools/cmaesfuzz.py
Labels: tool support
