Repository sosy-lab/benchexec, pull requests merged in 2024-08, with the labels that each got.

#1068 Fix typo in log message
  benchexec/container.py
Labels: container

#1071 Add tool-info module for super_prove
  benchexec/tools/super_prove.py
Labels: enhancement, tool support

#1072 Extend LXCFS integration
  benchexec/baseexecutor.py
  benchexec/cgroups.py
  benchexec/cgroupsv1.py
  benchexec/container.py
  benchexec/containerexecutor.py
  benchexec/runexecutor.py
  benchexec/test_runexecutor.py
Labels: enhancement, container
