Repository sosy-lab/benchexec, pull requests merged in 2024-06, with the labels that each got.

#1045 Create a tool-info module for BtorMC
  benchexec/tools/btormc.py
Labels: enhancement, tool support

#1044 Quickstart tutorial
  README.md
  doc/INDEX.md
  doc/INSTALL.md
  doc/benchexec-in-container.md
  doc/container.md
  doc/quickstart.md
  doc/runexec.md
Labels: documentation

#1042 fix: Add error message output to respond to the impact of Ubuntu 24.04
  benchexec/container.py
  benchexec/containerexecutor.py
  benchexec/containerized_tool.py
  doc/INSTALL.md
  doc/container.md
Labels: container

#1056 Add --architecture flag to theta
  benchexec/tools/theta.py
Labels: tool support

#1051 Update SeaHorn's tool-info module
  benchexec/tools/seahorn.py
Labels: tool support

#1055 Update CPAchecker tool info module
  benchexec/tools/cpa-witness2test.py
  benchexec/tools/cpachecker.py
Labels: tool support
