Repository sosy-lab/benchexec, pull requests merged in 2024-07, with the labels that each got.

#1059 Upgrade React Router to V6
  benchexec/tablegenerator/react-table/build/main.min.js
  benchexec/tablegenerator/react-table/build/vendors.min.js
  benchexec/tablegenerator/react-table/package-lock.json
  benchexec/tablegenerator/react-table/package.json
  benchexec/tablegenerator/react-table/public/index.html
  benchexec/tablegenerator/react-table/src/App.js
  benchexec/tablegenerator/react-table/src/components/Overview.js
  benchexec/tablegenerator/react-table/src/components/ReactTable.js
  benchexec/tablegenerator/react-table/src/components/SelectColumn.js
  benchexec/tablegenerator/react-table/src/components/Table/FilterInputField.js
  benchexec/tablegenerator/react-table/src/components/Table/MinMaxFilterInputField.js
  benchexec/tablegenerator/react-table/src/components/Table/StatusFilter.js
  benchexec/tablegenerator/react-table/src/components/Table/index.js
  benchexec/tablegenerator/react-table/src/tests/QuantilePlot.test.js
  benchexec/tablegenerator/react-table/src/tests/ScatterPlot.test.js
  benchexec/tablegenerator/react-table/src/tests/utils.test.js
  benchexec/tablegenerator/react-table/src/utils/utils.js
Labels: HTML table

#1061 Create a tool-info module for Pono
  benchexec/tools/pono.py
Labels: enhancement, tool support

#1063 Update project URL of CPV
  benchexec/tools/cpv.py
Labels: tool support

#1066 Add key tool info module
  benchexec/tools/key_cli.py
Labels: enhancement, tool support
